# lesson1

# 1.1 Print Hello using print()

In [11]:
print('Hello')

Hello

# 2.1 Add comment before and after printing Hello, Python!

In [13]:
# هذا تعليق
print ("Hello, Python!") # تعليق آخر

Hello, Python!

# 3.1 Add multiline comments

In [3]:
"""This is a multi line comment.
It's wonderful how easy is Python language!"""
print ("Hello World!")

Hello World!

# 4.1 print hello world in 2 lines

In [17]:
print ("Hello") ; print("World")

Hello
World

# 5.1 simple calculation to add two numbers

In [20]:
result = 1+1
print(result)

2

# 6.1  calculate the difference between 2 and 6

In [21]:
result = 2 - 6
print(result)  # Output: -4

-4

# 7.1 This multiplies 4 and 5 to get the product20

In [22]:
result = 4 * 5
print(result)  # Output: 20

20

# 8.1 What is the result of dividing 4 by 2?

In [23]:
4/2

2.0

In [24]:
4//2

2

In [25]:
3/0

ZeroDivisionError: division by zero

 Hello Python
> this is first session

In [ ]:
1,2,3,-9

# lesson2

In [ ]:
x = 10  # متغير من نوع integer
x

In [ ]:
pi = 3.14  # متغير من نوع float
pi

In [ ]:
name = "Alice"  # متغير نصي يحتوي على اسم
message = 'Hello, how are you?'  # متغير نصي يحتوي على جملة

In [ ]:
umbers = [1, 2, 3, 4, 5]  # قائمة من الأعداد
names = ["Alice", "Bob", "Charlie"]  # قائمة من الأسماء

In [ ]:
names

In [ ]:
is_true = True  # متغير منطقي يحتوي على قيمة صحيحة True
is_false = False  # متغير منطقي يحتوي على قيمة خاطئة False

In [ ]:
my_tuple = (1, 2, "three")  # Tuple يحتوي على أعداد ونصوص

In [ ]:
my_dict = {"name": "John", "age": 30, "city": "New York"}  # قاموس يحتوي على مفاتيح وقيم

In [ ]:
my_dict

In [ ]:
5 + 2

In [ ]:
1216516848515641*4984510451

In [ ]:
x = 5 
y = 45

In [ ]:
x+y

In [ ]:
X

Types of data

In [ ]:
type(2)

In [ ]:
type(2.5565)

In [ ]:
type(2.0)

In [ ]:
float(2)

In [ ]:
int(2.5)

In [ ]:
'ahmad is a bigenner'

In [ ]:
'12365'

In [ ]:
type('12365')

In [ ]:
x = ' ali'
y = ' is '
z = '2EROIhu'

In [ ]:
x + y +z

In [ ]:
55==55

In [ ]:
4 == 5

In [ ]:
x = 5 + 3  # x سيحتوي على القيمة 8
x

In [ ]:
y = 7 - 2  # y سيحتوي على القيمة 5
y

In [ ]:
x * y #الضرب

In [ ]:
x // 2# القسمة الصحيحة

In [ ]:
x / 2

In [ ]:
4 % 3 #الباقي

In [ ]:
print('Hello ' + 'World')

In [ ]:
'Hello ' * 3

In [ ]:
x = 5
y = 10

# x أقل من 7 و y التحقق مما إذا كانت أكبر من 8
result = (x < 7) and (y > 8)
print(result)  #True  الناتج سيكون   لأن كل الشروط محققة

In [ ]:
age = 25

# التحقق مما إذا كانت العمر أقل من 18 أو أكبر من 60
eligible = (age < 18) or (age > 60)
print(eligible)  #False الناتج سيكون  لأن الشرطين غير صحيحين

In [ ]:
rainy_day = False

# التحقق مما إذا كان اليوم ليس يوم ممطر
not_rainy = not rainy_day
print(not_rainy)  # الناتج سيكون True لأن قيمة الشرط قد تغيرت إلى العكس

In [ ]:
text1 = "Hello, "
text2 = "world!"

# استخدام عملية الجمع لدمج النصوص
result = text1 + text2
print(result)  # سيظهر: "Hello, world!"

In [ ]:
الضرب (*): تُستخدم لتكرار النصوص.

In [ ]:
name = 'python '
name * 3